<html>
<head>
    <title>Add Pipeline | Deploy</title>
</head>
<body>
<h1>Add Pipeline</h1>
<div class="mui-panel">
    <form method="post">
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" required="required" name="name" id="name"/>
            <label for="name">Name</label>
        </div>
        <button class="mui-btn mui-btn--primary" type="submit">Save</button>
    </form>
</div>
</body>
</html>