<html>
<head>
    <title>Edit {{#pipeline}}{{name}}{{/pipeline}} Pipeline | Deploy</title>
</head>
<body>
<div id="stage-form-template">
    {{>stage-form}}
</div>
<form method="post">
    <div class="mui-panel">
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" required="required" name="name" id="name" value="{{#pipeline}}{{name}}{{/pipeline}}"/>
            <label for="name">Pipeline Name</label>
        </div>
        <input type="hidden" id="stage-count" value="{{stageCount}}"/>
        {{#pipeline}}
            <div id="stages">
                {{#stages}}
                    <div class="mui-panel" id="stage-form-{{id}}">
                        {{>stage-form}}
                    </div>
                {{/stages}}
            </div>
        {{/pipeline}}
        <button class="mui-btn mui-btn--primary" type="button" id="add-stage">Add Stage</button>
        <hr/>
        <button class="mui-btn mui-btn--primary" type="submit">Save Pipeline</button>
    </div>
</form>
<script src="/js/add_stage.js"> <!-- Significant whitespace... yuck! --></script>
</body>
</html>