<div class="mui-panel">
    <h2>{{name}}</h2>
    <hr/>
    {{#stages}}
        {{>stage}}
    {{/stages}}
    <hr/>
    <a class="mui-btn mui-btn--primary" href="/pipelines/edit/{{id}}">Edit Pipeline</a>
</div>