<div class="mui-textfield mui-textfield--float-label">
    <input type="text" required="required" name="stage[{{id}}][name]" id="stage[{{id}}][name]" value="{{name}}"/>
    <label for="stage[{{id}}][name]">Stage Name</label>
</div>