<html>
<head>
    <title>View Pipelines | Deploy</title>
</head>
<body>
{{#pipelines}}
    {{>pipeline}}
{{/pipelines}}
<div class="action">
    <a class="mui-btn mui-btn--fab mui-btn--primary" href="/pipelines/add">+</a>
</div>
</body>
</html>