<html>
<head>
    <title>Deploy</title>
</head>
<body>
{{#pipelines}}
    {{>pipeline}}
{{/pipelines}}
<div class="action">
    <button class="mui-btn mui-btn--fab mui-btn--primary">+</button>
</div>
</body>
</html>