<!DOCTYPE html>
<html>
{{#html}}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/mui.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/deploy.css" rel="stylesheet" type="text/css"/>
        <script src="/js/mui.min.js"></script>
        {{#head}}
            {{title}}
            {{script}}
        {{/head}}
    </head>
    <body>
    <header>
        <nav class="mui-appbar mui--text-title">
            <ul class="mui--appbar-line-height mui-list--inline">
                <li>Deploy</li>
                <li>Home</li>
            </ul>
        </nav>
    </header>
    <main class="mui-container-fluid">
        {{#body}}
            {{_}}
        {{/body}}
    </main>
    <footer class="mui-container-fluid">
        Deploy v1.
    </footer>
    </body>
{{/html}}
</html>